<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Test</title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
    <tbody><tr>
        <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">

            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                <tbody>
                <tr>
                    <td align="" valign="top">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                            <tbody><tr>
                                <td valign="top" style="padding-top:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top">

                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                <tbody><tr>

                                                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">

                                                        <a target="_blank"><img align="none" height="43" src="{{ image_url }}" alt="" style="min-height:43px;margin:0px;border:0;outline:none;text-decoration:none"  class="CToWUd"></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="" valign="top">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;">
                            <tbody><tr>
                                <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top">

                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                <tbody><tr>

                                                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                                                        <p>Dear <strong>{{ user_name }},</strong></p>

                                                         <p><strong>Your Friend {{ sender_name }} has shared To-Do Application Group "{{ group_name }}" with you please
                                                         provide this below Group Code and it To-Do Application Mobile App to join the group.</strong></p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td align="" valign="top">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                            <tbody><tr>
                                <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #e42c2c;border-radius:7px;background-color:#e42c2c">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:5px">
                                                        <span style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;">Group Code - {{ group_code }}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td valign="top">

                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                <tbody><tr>

                                                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                                                        <h4 align="right" style="color:#ec3753; font-size: 16px;">
                                                            <span style="color: #777777">Thanks!</span>  <br/>
                                                            Enjoy services.
                                                        </h4>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                            </tr>
                            </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td align="" valign="top">

                        <!-- Footer starts here-->
                        <table align="center" style="width:599px;">
                            <tbody>
                            <tr>
                                <td valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-top:0;border-bottom:0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding-bottom:9px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" align="center">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Footer ends here-->

                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody></table>

</body>
</html>
